<div class="group-data-[nav=modal]:-mt-4">
  <%= render SettingsNav::HeaderComponent.new do %>
    General
  <% end %>
</div>

<ul>
  <%= render SettingsNav::Nav.new(
    title: "Feedbin",
    subtitle: "Back to the app",
    url: root_path,
    icon: "menu-icon-app",
    classes: "md:hidden"
    )
  %>

  <%= render SettingsNav::Nav.new(
    title: "Settings",
    subtitle: "General preferences",
    url: settings_path,
    icon: "menu-icon-settings",
    selected: is_active?("settings", "settings")
    )
  %>

  <%= render SettingsNav::Nav.new(
    title: "Subscriptions",
    subtitle: "Manage feeds",
    url: settings_subscriptions_path,
    icon: "menu-icon-subscriptions",
    selected: is_active?(["settings/subscriptions"], ["index", "edit"])
    )
  %>

  <%= render SettingsNav::Nav.new(
    title: "Sources",
    subtitle: "Newsletters & Pages",
    url: settings_newsletters_pages_path,
    icon: "menu-icon-newsletters",
    selected: is_active?("settings", "newsletters_pages")
    )
  %>
</ul>

<%= render SettingsNav::HeaderComponent.new do %>
  Tools
<% end %>

<div class="px-4 pl-10 tw-hidden group-data-[nav=dropdown]:block">
  <hr class="m-0">
</div>

<ul>
  <%= render SettingsNav::Nav.new(
      title: "Actions",
      subtitle: "Filters & more",
      url: actions_path,
      selected: is_active?(["actions"], ["index", "new", "edit"]),
      icon: "menu-icon-actions"
      )
    %>

  <%= render SettingsNav::Nav.new(
      title: "Share & Save",
      subtitle: "Social plugins",
      url: sharing_services_path,
      selected: is_active?("sharing_services", "index"),
      icon: "menu-icon-share-save"
      )
    %>

  <%= render SettingsNav::Nav.new(
      title: "Import & Export",
      subtitle: "Bring your OPML",
      url: settings_import_export_path,
      selected: is_active?(["settings/imports"], ["index", "show"]),
      icon: "menu-icon-import-export"
      )
    %>

  <% if current_user.try(:account_migrations)&.exists? %>
    <%= render SettingsNav::Nav.new(
        title: "Account Migration",
        subtitle: "Howdy, Feed Wrangler",
        url: account_migrations_path,
        selected: is_active?("account_migrations", "index"),
        icon: "menu-icon-migration"
        )
      %>
  <% end %>
</ul>

<%= render SettingsNav::HeaderComponent.new do %>
  Admin
<% end %>

<div class="px-4 pl-10 tw-hidden group-data-[nav=dropdown]:block">
  <hr class="m-0">
</div>

<ul>
  <%= render SettingsNav::Nav.new(
      title: "Account",
      subtitle: "Update email & password",
      url: settings_account_path,
      selected: is_active?("settings", "account"),
      icon: "menu-icon-account"
      )
    %>

  <% if ENV["STRIPE_API_KEY"] %>
    <%= render SettingsNav::Nav.new(
        title: "Billing",
        subtitle: "Payment method & plan",
        url: settings_billing_path,
        selected: is_active?(["settings/billings"], ["index", "edit", "payment_history"]),
        icon: "menu-icon-billing"
        )
      %>
  <% end %>

  <% if current_user.try(:admin?) %>
    <%= render SettingsNav::Nav.new(
        title: "Customers",
        subtitle: "Manage customers",
        url: admin_users_path,
        selected: is_active?("admin/users", "index"),
        icon: "menu-icon-customers"
        )
      %>
    <%= render SettingsNav::Nav.new(
        title: "Sidekiq",
        subtitle: "Background jobs",
        url: sidekiq_web_path,
        icon: "menu-icon-sidekiq"
        )
      %>
    <%= render SettingsNav::Nav.new(
        title: "Lookbook",
        subtitle: "Feedkit components",
        url: "/lookbook",
        icon: "menu-icon-lookbook"
        )
      %>
  <% end %>
</ul>

<div class="px-4 pl-10 tw-hidden group-data-[nav=dropdown]:block">
  <hr class="m-0">
</div>

<ul class="tw-hidden group-data-[nav=dropdown]:block">
  <%= render SettingsNav::Nav.new(
      title: "Log Out",
      url: [logout_path, {method: :delete}],
      icon: "menu-icon-log-out"
      )
  %>
</ul>

<div class="group-data-[nav=dropdown]:hidden">
  <div class="p-4 group-data-[nav=modal]:py-0">
    <hr>
  </div>

  <ul>
    <%= render SettingsNav::NavSmall.new url: "/home" do %>
      Home
    <% end %>
    <%= render SettingsNav::NavSmall.new url: "/blog" do %>
      Blog
    <% end %>
    <%= render SettingsNav::NavSmall.new url: "/apps" do %>
      Apps
    <% end %>
    <%= render SettingsNav::NavSmall.new url: "/help" do %>
      Help
    <% end %>
    <%= render SettingsNav::NavSmall.new url: "https://github.com/feedbin/feedbin-api#readme" do %>
      API
    <% end %>
    <%= render SettingsNav::NavSmall.new url: "/privacy-policy" do %>
      Privacy Policy
    <% end %>
    <%= render SettingsNav::NavSmall.new url: "mailto:support@feedbin.com" do %>
      Email
    <% end %>
    <%= component "settings_nav/nav_small", url: "https://feedbin.social/@feedbin" do %>
      Mastodon
    <% end %>
    <%= render SettingsNav::NavSmall.new url: logout_path, method: "delete" do %>
      Log Out
    <% end %>
  </ul>
</div>
